body{
  display: flex;
  font-family: "Advent Pro",monospace,sans-serif, courier;
  font-size: 20px;
}

.logo-banner
{
  background-color: #22211F;
  padding: 120px;
}

.job-ad{
  background-image: url(./images/isotipo-icon4-gray.png);
  background-attachment: local;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 500px;
  padding: 30px;
}

#imagotipo{
  position: fixed;
  left: 25px;

}
